{% extends 'base.html.twig' %}

{% block title %}Turnos - TurNow{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Gestión de Turnos</h2>
                </div>
                <div class="card-body">
                    <p>Página de turnos en construcción...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}